<h1 class="error-container">
  <span><span>4</span></span>
  <span>0</span>
  <span><span>4</span></span>
</h1>

<div class="buttons is-centered">
  <a href="/" class="button is-primary">Go back Home</a>
</div>