<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Weight Tracker</strong> by <a href="https://github.com/AleksandraKaminska">Aleksandra Kamińska</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
  </div>
</footer>
